@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;800&display=swap");
.sombra {
    /* -webkit-box-shadow: 14px 14px 20px -10px rgba(0,0,0,0.77);
    -moz-box-shadow: 14px 14px 20px -10px rgba(0,0,0,0.77);
    box-shadow: 14px 14px 20px -10px rgba(0,0,0,0.77); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.FontPicapino {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.fondo-sidebar-header {
    background-image: url('../../img/design/BG1.jpg')
}

.fondo-card {
    background-image: url('../../img/design_opacity/BG5.jpg');
    background-position: center top;
    background-size: 100% auto;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
}

/* Ini Boton mas menos landing */

.quantity-select {
    width: 136px;
    height: 45px
}

@media (min-width: 576px) {
    .quantity-select {
        width: 174px;
        height: 58px
    }
}

@media (min-width: 768px) {
    .quantity-select {
        width: 136px;
        height: 45px
    }
}

.quantity-select-decrease, .quantity-select-increase {
    border-radius: 0;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #e2e2e2
}

@media (min-width: 576px) {
    .quantity-select-decrease, .quantity-select-increase {
        font-size: 1.875rem;
        border: 2px solid #e2e2e2
    }
}

@media (min-width: 768px) {
    .quantity-select-decrease, .quantity-select-increase {
        font-size: 1.25rem;
        border: 1px solid #e2e2e2
    }
}

.quantity-select-value {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0;
    border: 1px solid #e2e2e2;
    height: auto;
    z-index: 1
}

@media (min-width: 576px) {
    .quantity-select-value {
        font-size: 1.75rem;
        border: 2px solid #e2e2e2
    }
}

@media (min-width: 768px) {
    .quantity-select-value {
        font-size: 1.25rem;
        border: 1px solid #e2e2e2
    }
}

/* Fin Boton mas menos landing */

@media (min-width: 768px) {
    .picapino-font {
        font-family: Righteous;
        font-size: 3em;
        color: #fcfcfc;
    }
    .picapino-font-landing {
        font-family: Righteous;
        font-size: 24px;
        color: #ffffff;
    }
    .picapino-font-landing-title {
        padding: 10px 10px;
        font-family: Righteous;
        font-size: 24px;
        color: #ffffff;
    }
    .contenedor2 {
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 3em;
    }
    .picapino-quantity-control {
        /* float: right; */
        width: 99%;
        padding: 1em;
        text-align: center;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .picapino-font {
        font-family: Righteous;
        font-size: 2em;
        color: #fcfcfc;
    }
    .content-to-hide {
        display: none;
    }
    .picapino-font-landing-title {
        padding: 10px 10px;
        font-family: Righteous;
        font-size: 24px;
        color: #A6A6A6;
    }
    .picapino-quantity-control {
        width: 99%;
        padding: 1em;
        text-align: center;
        display: inline-block;
    }
}

@media (max-width: 369px) {
    .picapino-logo {
        display: none;
    }
}